table {
  border: 1px solid;
  //width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}

.mat-paginator-outer-container{
    float: left;
}


.mat-form-field-appearance-outline .mat-form-field-wrapper{
  margin: 0 0 !important;
}

.mat-form-field-wrapper{
  padding: 0 !important;
}
