<h1>Angular MatTable With ReOrder Column, Sorting, Search By Column!</h1>

<div fxLayout="row" fxLayoutAlign="start end">
  <mat-paginator [pageSize]="25" [pageSizeOptions]="[25, 50, 100]" showFirstLastButtons></mat-paginator>
</div>

<div id="table-container" style="height: 100%; width:100%; overflow: auto;" *ngIf="isLoad">
  <table mat-table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)" cdkDropListGroup>
    <ng-container *ngFor="let col of displayColumns; let i=index;" matColumnDef="{{col}}" [sticky]="i==0">
        <th mat-header-cell *matHeaderCellDef mat-sort-header [id]="col"
        cdkDropList cdkDropListLockAxis="x" cdkDropListOrientation="horizontal"
        cdkDrag (cdkDropListDropped)="reorderColumns($event)">{{col}}
          <button mat-icon-button (click)="openFilter(col);$event.stopPropagation();">
            <img src="assets/mat-icons/search-24px.svg">
          </button>
          <mat-form-field appearance="outline" id="{{col}}-filter" style="display: none;">
            <mat-label>Search {{col}}</mat-label>
            <input matInput placeholder="Placeholder" [(ngModel)]="filterText" (click)="$event.stopPropagation()"
              (mouseup)="filterData(col, $event);$event.stopPropagation();"
              (keyup)="filterData(col, $event);$event.stopPropagation();"
              (mousedown)="filterData(col, $event);$event.stopPropagation();"
              (focus)="filterData(col, $event);$event.stopPropagation();">
            <mat-icon matSuffix (click)="closeFilter(col);$event.stopPropagation();">
              <img src="assets/mat-icons/close.svg">
            </mat-icon>
          </mat-form-field>
        </th>

        <td mat-cell *matCellDef="let element"> {{element[col]}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayColumns;"></tr>
    <tr mat-row *matRowDef="let row; columns: displayColumns;"></tr>
  </table>
</div>